{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_css_site %}
{{ block.super }}

{% endblock head_css_site %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="form-login my-5 py-2 px-4 d-flex flex-column align-items-left justify-content-center w-50">
        <h1 class="mt-1">{% translate "add_security_key" %}</h1>
        <p class="text-fore">{% translate "security_key_text" %}</p>
        {% if has_security_key %}
            <p class="text-fore">
                {% translate "already_security_key" %}
            </p>
            <a
                class="btn button button-dark link-nav me-2"
                href="{% url "account:account" %}">
                {% translate "back_to_account" %}
            </a>
        {% else %}
            <p class="text-fore">{% translate "security_key_method" %}</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <ul class="non-field-errors text-alert">
                        {% for err in form.non_field_errors %}
                            <li class="form-error">{{ err }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    <p>
                        <label
                            class="text-fore{% if field.auto_id == "id_key_init" %} d-none{% endif%}"
                            for="{{ field.auto_id }}">
                            {{ field.label }}
                        </label>
                        {{ field }}
                    </p>
                {% endfor %}
                <div>
                    <a
                        class="btn button button-dark link-nav me-2"
                        href="{% url "account:account" %}">
                        {% translate "back_to_account" %}
                    </a>
                    <input
                        type="submit"
                        class="btn button button-bright text-uppercase"
                        value="{% translate "validate" %}" />
                </div>
            </form>
        {% endif %}
    </div>
</div>
<script src="{% static "js/security_key/add.js" %}"></script>
{% endblock %}
