{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
{% endblock head_css_site %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">

    <div class="form-login my-5 py-2 px-4 d-flex flex-column align-items-left justify-content-center w-50">

        <h1 class="mt-1">{% translate "my_account" %}</h1>
        <hr class="hr" />
        <h2 class="mb-1">{% translate "connection" %}</h2>

        <div class="mb-3">
            <div id="block-email" class="{% if email_form.errors %}d-none{% endif %}">
                <label for="email_disabled" class="text-color-fore">{% translate "email" %}</label>
                <div class="d-flex flex-row">
                    <input
                        type="text"
                        id="email_disabled"
                        name="email_disabled"
                        class="form-control"
                        disabled value="{{ user.email }}" />
                    <button
                        class="btn button button-dark link-nav me-2"
                        id="button-email">
                        {% translate "edit" %}
                    </button>
                </div>
            </div>

            <div id="form-email" class="{% if not email_form.errors %}d-none{% endif %}">
                <hr class="hr-medium" />
                <h3>{% translate "change_email" %}</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if email_form.non_field_errors %}
                        <ul class="non-field-errors text-alert">
                            {% for err in email_form.non_field_errors %}
                                <li class="form-error">{{ err }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in email_form %}
                        {% if field.auto_id != "id_email_form-security_key" or has_security_key %}
                            <p>
                                <label
                                    class="text-color-fore d-none"
                                    for="{{ field.auto_id }}">{{ field.label }}
                                </label>
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <input
                            type="submit"
                            name="{{email_form.prefix}}"
                            class="btn button button-bright text-uppercase"
                            value="{% translate "validate" %}" />
                        <button
                            class="btn button button-dark me-2 text-uppercase"
                            id="cancel-email">
                            {% translate "cancel" %}
                        </button>
                    </div>
                </form>
                <hr class="hr-medium" />
            </div>
        </div>

        <div>
            <div id="block-password" class="{% if password_form.errors %}d-none{% endif %}">
                <label for="password_disabled" class="text-color-fore">{% translate "password" %}</label>
                <div class="d-flex flex-row">
                    <input
                        type="password"
                        id="password_disabled"
                        name="password_disabled"
                        class="form-control"
                        disabled value="********" />
                    <button
                        class="btn button button-dark link-nav me-2"
                        id="button-password">
                        {% translate "edit" %}
                    </button>
                </div>
            </div>

            <div id="form-password" class="{% if not password_form.errors %}d-none{% endif %}">
                <hr class="hr-medium" />
                <h3>{% translate "change_password" %}</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    {% if password_form.non_field_errors %}
                        <ul class="non-field-errors text-alert">
                            {% for err in password_form.non_field_errors %}
                                <li class="form-error">{{ err }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% for field in password_form %}
                        {% if field.auto_id != "id_password_form-security_key" or has_security_key %}
                            <p>
                                <label
                                    class="text-color-fore d-none"
                                    for="{{ field.auto_id }}">{{ field.label }}
                                </label>
                                {{ field }}
                            </p>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <input
                            type="submit"
                            name="{{password_form.prefix}}"
                            class="btn button button-bright text-uppercase"
                            value="{% translate "validate" %}" />
                        <button
                            class="btn button button-dark link-nav me-2 text-uppercase"
                            id="cancel-password">
                            {% translate "cancel" %}
                        </button>
                    </div>
                </form>
                <hr class="hr-medium" />
            </div>
        </div>

        <hr class="hr" />

        <h2>{% translate "my_informations" %}</h2>

        <div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in personal_informations_form %}
                    <p>
                        <label class="text-color-fore" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </p>
                {% endfor %}
                <div>
                    <input
                        type="submit"
                        name="{{personal_informations_form.prefix}}"
                        class="btn button button-bright text-uppercase"
                        value="{% translate "validate" %}" />
                </div>
            </form>
        </div>

        <hr class="hr" />

        <h2>{% translate "security_key" %}</h2>
        {% if has_security_key %}
            <p class="text-color-fore">
                {% translate "already_security_key" %}
            </p>
        {% else %}
            <p class="text-color-fore">{% translate "no_security_key_text" %}</p>
            <a
                class="btn button button-dark link-nav me-2"
                href="{% url "account:add-security-key" %}">
                {% translate "add_security_key" %}
            </a>
        {% endif %}

        <hr class="hr" />

        <div>
            <p class="text-alert">{% translate "danger_zone" %}</p>
            <a
                class="btn button button-bright-alt link-nav me-2"
                href="{% url "account:delete-account" %}">
                {% translate "delete_my_account" %}
            </a>
        </div>
    </div>

</div>
<script src="{% static "js/account/account.js" %}"></script>
{% endblock %}
