{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bot_match_templatetag %}
{% load external_script_templatetag %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
    <link rel="stylesheet" href="{% static "style/game/match/match.css" %}">
{% endblock head_css_site %}

{% block content %}

<div
    class="h-100 d-flex align-items-center justify-content-center"
    id="main">

    <div class="form-login my-5 px-4 pb-2 d-flex flex-column align-items-left justify-content-center w-75">
        <div>
            <div class="d-flex flex-row justify-content-between">
                {% with match|opponent:bot as opponent %}
                    <h1 class="mt-1">{{bot}} VS {{opponent}}</h1>
                {% endwith %}
            </div>
        </div>
        <div class="d-flex flex-row mb-2">
            <a
                href="{% url "game:bot-matches" bot_id=bot.id %}"
                class="btn small_button button-dark align-self-end me-2">
                {% translate "back_to_the_matchs" %}
            </a>
            <a
                href="{% url "game:my-bots" %}"
                class="btn small_button button-dark align-self-end me-2">
                {% translate "back_to_my_bots" %}
            </a>
            <a
                href="{% url "game:edit-bot" bot_id=bot.id %}"
                class="btn small_button button-bright align-self-end me-2">
                {% translate "edit" %}
            </a>
        </div>
        <div
            id="block-request"
            data-url="{% url "game:bot-match-data" bot_id=bot.id match_id=match.id %}">
            {% csrf_token %}
        </div>
        <canvas id="canvas-match"></canvas>
        <div class="control-panel w-100">
            <div id="progress-container" class="w-100 d-flex align-items-center justify-content-center">
                <div class="progress-back w-100 d-flex">
                    <div id="progress-bar-match" class="h-100">
                        <div class="progress-end"></div>
                    </div>
                </div>
            </div>
            <div class="bottom-control py-1 d-flex flex-row align-items-center">
                <button id="button-beginning" disabled class="button-match ps-2 pe-1">
                    <em class="fas fa-backward-fast fa-lg"></em>
                </button>
                <button id="button-prev" disabled class="button-match px-1">
                    <em class="fas fa-backward fa-lg"></em>
                </button>
                <button id="button-play" disabled class="fa-2x button-match button-match-play px-1"></button>
                <button id="button-next" disabled class="button-match px-1">
                    <em class="fas fa-forward fa-lg"></em>
                </button>
                <button id="button-end" disabled class="button-match px-1">
                    <em class="fas fa-forward-fast fa-lg"></em>
                </button>
            </div>
        </div>
        <div id="fight-result" class="d-none text-color-fore py-1"></div>
        <div id="block-output" class="p-3 mt-1 back-color-white-veil-5 d-none"></div>
    </div>
</div>
<script
    src="{{EXTERNAL_SCRIPTS.pixijs.url}}"
    integrity="{{EXTERNAL_SCRIPTS.pixijs|external_script}}"
    crossorigin="anonymous">
</script>
<script src="{% static "js/game/match/match.js" %}"></script>
<script src="{% static "js/game/bot_match.js" %}"></script>
{% endblock %}
