{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bot_match_templatetag %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
    <link rel="stylesheet" href="{% static "style/forum/main.css" %}">
{% endblock head_css_site %}

{% block content %}

<div
    class="h-100 d-flex align-items-center justify-content-center"
    id="main">

    <div class="form-login my-5 px-4 pb-2 d-flex flex-column align-items-left justify-content-center w-75">
        <div>
            <div class="d-flex flex-row justify-content-between">
                {% with match|opponent:bot as opponent %}
                    <h1 class="mt-1">{{bot}} VS {{opponent}}</h1>
                {% endwith %}
            </div>
        </div>
        <div class="d-flex flex-row mb-2">
            <a
                href="{% url "game:bot-matches" bot_id=bot.id %}"
                class="btn small_button button-dark align-self-end me-2">
                {% translate "back_to_the_matchs" %}
            </a>
            <a
                href="{% url "game:my-bots" %}"
                class="btn small_button button-dark align-self-end me-2">
                {% translate "back_to_my_bots" %}
            </a>
            <a
                href="{% url "game:edit-bot" bot_id=bot.id %}"
                class="btn small_button button-bright align-self-end me-2">
                {% translate "edit" %}
            </a>
        </div>
    </div>
</div>
{% endblock %}
