{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load djangocodemirror_tags %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
    <link rel="stylesheet" href="{% static "style/game/match/match.css" %}">
{% endblock head_css_site %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="form-login my-5 py-2 px-4 d-flex flex-column align-items-left justify-content-center w-90">

        <h1 class="mt-1">{% translate "create_bot" %}</h1>
        <div class="d-flex flex-row-reverse mb-2">
            {% if bot_id %}
                <a
                    href="{% url "game:delete-bot" bot_id=bot_id %}"
                    class="btn small_button button-bright-alt align-self-end me-2">
                    {% translate "delete" %}
                </a>
                <form method="post" action="{% url "game:duplicate-bot" %}">
                    {% csrf_token %}
                    <div class="d-none">
                        <label for={{duplicate_bot_form.bot_id.id_for_label}}>
                        </label>
                        {{duplicate_bot_form.bot_id}}
                    </div>
                    <input
                        type="submit"
                        name="{{duplicate_bot_form.prefix}}"
                        value="{% translate "duplicate_bot" %}"
                        class="btn small_button button-bright align-self-end me-2"
                        data-bot-id="{{bot_id}}">
                </form>
            {% endif %}
            <a
                href="{% url "game:my-bots" %}"
                class="btn small_button button-dark align-self-end me-2">
                {% translate "back_to_my_bots" %}
            </a>
        </div>
        <div class="d-flex flex-row">
            <div class="d-flex flex-column w-50 me-1">
                <canvas id="canvas-match"></canvas>
                <div class="control-panel w-100">
                    <div id="progress-container" class="w-100 d-flex align-items-center justify-content-center">
                        <div class="progress-back w-100 d-flex">
                            <div id="progress-bar-match" class="h-100">
                                <div class="progress-end"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-control py-1 d-flex flex-row align-items-center">
                        <button id="button-beginning" disabled class="button-match ps-2 pe-1"><i class="fas fa-backward-fast fa-lg"></i></button>
                        <button id="button-prev" disabled class="button-match px-1"><i class="fas fa-backward fa-lg"></i></button>
                        <button id="button-play" disabled class="fa-2x button-match button-match-play px-1"></button>
                        <button id="button-next" disabled class="button-match px-1"><i class="fas fa-forward fa-lg"></i></button>
                        <button id="button-end" disabled class="button-match px-1"><i class="fas fa-forward-fast fa-lg"></i></button>
                    </div>
                    {% comment %} <div class="progress">
                        <div
                            class="progress-bar"
                            role="progressbar"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="d-flex flex-column w-50 ms-1">
                <form action="" method="post" class="d-flex flex-column" id="form-create-bot">
                    {% csrf_token %}
                    <label class="d-none" for={{create_bot_form.name.id_for_label}}>
                    </label>
                    {{create_bot_form.name}}
                    <label class="d-none" for={{create_bot_form.code.id_for_label}}></label>
                    {{create_bot_form.code}}
                    <input
                        type="submit"
                        id="{% if bot_id %}submit-edit-bot{% else %}submit-create-bot{% endif %}"
                        name="{{create_bot_form.prefix}}"
                        value="{% translate "create_bot" %}"
                        class="btn small_button button-bright mt-1"
                        data-url="{% url "game:edit-bot" bot_id=bot_id %}"
                        data-bot-id="{{bot_id}}">
                    <p class="mt-1 text-color-fore">
                        {% translate "create_bot_text" %}
                    </p>
                </form>
                {% if bot_id %}
                    <form
                        method="post"
                        action="{% url "game:bot-toggle-publish" bot_id=bot_id %}"
                        id="form-toggle-publish">
                        {% csrf_token %}
                        <div class="d-none">
                            <label for={{toggle_publish_bot_form.bot_id.id_for_label}}>
                            </label>
                            {{toggle_publish_bot_form.bot_id}}
                        </div>
                        <input
                            type="submit"
                            id="button-publish"
                            name="{{toggle_publish_bot_form.prefix}}"
                            value={% if posted %}"{% translate "bot_published" %}"{% else %}"{% translate "bot_unpublished" %}"{% endif %}
                            class="btn small_button align-self-end me-2 {% if posted %}button-dark{% else %}button-bright{% endif %}"
                            data-bot-id="{{bot_id}}"
                            data-url="{% url "game:bot-toggle-publish" bot_id=bot_id %}"
                            data-message-published="{% translate "bot_published" %}"
                            data-message-unpublished="{% translate "bot_unpublished" %}">
                        <p class="mt-1 text-color-fore">
                            {% translate "publish_bot_text" %}
                        </p>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% codemirror_field_css_assets create_bot_form.code %}
{% codemirror_field_js_assets create_bot_form.code %}
<script>
    var foo_codemirror = CodeMirror.fromTextArea(
        document.getElementById("{{create_bot_form.code.auto_id}}"),
        {{ create_bot_form.code|codemirror_parameters }}
    );

    {% comment %} document.addEventListener("DOMContentLoaded", function () {
        var codeTextarea = document.getElementById("{{create_bot_form.code.auto_id}}");
        var editor = CodeMirror.fromTextArea(codeTextarea, {
                "mode": {
                    "name": "python",
                    "version": 3,
                    "singleLineStringErrors": false
                },
                "matchBrackets": true,
                "lineNumbers": true,
                "indent": 4,
            }
        );
      }); {% endcomment %}
</script>
<script src="https://cdn.jsdelivr.net/npm/pixi.js@7.x/dist/pixi.min.js"></script>
<script src="{% static "js/game/match/match.js" %}"></script>
<script src="{% static "js/game/create_bot.js" %}"></script>
{% endblock %}
