{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
{% endblock head_css_site %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">

    <div class="form-login my-5 py-2 px-4 d-flex flex-column align-items-left justify-content-center w-50">

        <h1 class="mt-1">{% translate "bot_deletion" %}</h1>

        <p class="text-alert">{% translate "bot_deletion_text" %}</p>

        <form action="" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="non-field-errors text-alert">
                    {% for err in form.non_field_errors %}
                        <li class="form-error">{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <div class="d-none">
                <label
                    class="text-fore"
                    for="bot">{{ form.bot_id.label }}
                </label>
                <input type="text" name="bot_id" class="form-control d-none" id="bot" required="" value={{bot_id}}>
                {% comment %} {{ form.bot_id }} {% endcomment %}
            </div>
            <div>
                <a
                    class="btn button button-dark link-nav me-1"
                    href="{% url "game:my-bots" %}">
                    {% translate "back_to_my_bots" %}
                </a>
                <a
                    class="btn button button-bright link-nav me-1"
                    href="{% url "game:edit-bot" bot_id=bot_id %}">
                    {% translate "edit_this_bot" %}
                </a>
                <input
                    type="submit"
                    class="btn button button-bright-alt text-uppercase"
                    value="{% translate "delete_bot" %}" />
            </div>
        </form>

    </div>

</div>
<script src="{% static "js/account/account.js" %}"></script>
{% endblock %}
