.navbar-forum {
    padding: 12px 20px !important;
    text-decoration: none !important;
    border-radius: 0 !important;
}

.forum-link-selected {
    background-color: var(--primary-light-hover-color) !important;
}

.navbar-forum:hover {
    color: var(--bright-color) !important;
    background-color: var(--primary-light-hover-color);
}

.row-topic:nth-child(2n) {
    background-color: var(--white-veil-5-color);
}

.row-topic:nth-child(2n + 1) {
    background-color: var(--white-veil-10-color);
}

#preview-answer {
    /* min-height: 274px; */
    border: 2px solid var(--white-veil-10-color);
}

.textarea-answer {
    min-height: 280px !important;
}
