.custom-modal-body {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.answer-modal .modal-open .modal {
    width: 300px;
    margin: 0 auto;
}

.modal-open {
    overflow-y: auto;
}

#preview-answer {
    /* min-height: 274px; */
    border: 2px solid var(--white-veil-10-color);
}

.textarea-answer {
    min-height: 280px !important;
}
