{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load external_script_templatetag %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
    <link rel="stylesheet" href="{% static "style/forum/main.css" %}">
{% endblock head_css_site %}

{% block content %}

<div
    class="h-100 d-flex align-items-center justify-content-center"
    id="main">

    <div class="form-login my-5 px-4 pb-2 d-flex flex-column align-items-left justify-content-center w-75">
        <h1 class="mt-1">{% translate "create_new_topic" %}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-2">
                <label
                    class="d-none"
                    for="{{ form.title.id }}">
                    {{ form.title.label }}
                </label>
                {{form.title}}
            </div>

            <div class="mb-2 d-flex flex-row">
                <label
                    class="text-color-fore me-2 d-flex align-items-center"
                    for="{{ form.section.id }}">
                    {{ form.section.label }}
                </label>
                {{form.section}}
            </div>

            <div class="mb-2">
                <label
                    class="d-none"
                    for="{{ form.content.id }}">
                    {{ form.title.content }}
                </label>
                <p class="w-100 mb-0 text-color-fore">{% translate "markdown_supported" %}</p>
                <div class="w-100 d-flex flex-row">
                    <button
                        id="button-write"
                        class="btn navbar-forum text-color-fore forum-link-selected"
                        type="button">
                        {% translate "write" %}
                    </button>
                    <button
                        id="button-preview"
                        class="btn navbar-forum text-color-fore"
                        type="button">
                        {% translate "preview" %}
                    </button>
                </div>
                <div id="write-answer">
                    {{form.content}}
                </div>
                <div id="preview-answer" class="text-color-fore d-none textarea-answer p-3" cols="40" rows="10">
                </div>
            </div>
            <div class="d-flex flex-row">
                <a
                    href="{% url "forum:forum-spec" type_topic="all" category="new" page="1" %}"
                    class="btn small_button button-dark me-2">
                    {% translate "back_to_topics" %}
                </a>
                <input
                    type="submit"
                    class="btn button button-bright text-uppercase"
                    value="{% translate "create_the_topic" %}" />
            </div>
        </form>

    </div>
</div>
<script
    src="{{EXTERNAL_SCRIPTS.showdown.url}}"
    integrity="{{EXTERNAL_SCRIPTS.showdown|external_script}}"
    crossorigin="anonymous">
</script>
<script src="{% static "js/forum/main.js" %}"></script>
<script src="{% static "js/forum/forum.js" %}"></script>
{% endblock %}
