<!DOCTYPE html>
<html lang="en">
    <head>
        {% load i18n %}
        {% load static %}
        {% load bootstrap5 %}
        {% load external_script_templatetag %}

        <title>{% block title %}{% endblock %}</title>

        <link rel="apple-touch-icon" sizes="180x180" href="{% static "icon/apple-touch-icon.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "icon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "icon/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "icon/site.webmanifest" %}">
        <link rel="mask-icon" href="{% static "icon/safari-pinned-tab.svg" %}" color="#00ff88">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {% block head_css_site %}
            <link href="{% static "fontawesomefree/css/fontawesome.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "fontawesomefree/css/solid.css" %}" rel="stylesheet" type="text/css">

            <link href="{% static "style/reset.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "style/colors.css" %}" rel="stylesheet" type="text/css">
            <link href="{% static "style/base.css" %}" rel="stylesheet" type="text/css">
        {% endblock head_css_site %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script src="{% static "fontawesomefree/js/fontawesome.js" %}"></script>
        <script src="{% static "fontawesomefree/js/solid.js" %}"></script>
        <script
            src="{{EXTERNAL_SCRIPTS.jquery.url}}"
            integrity="{{EXTERNAL_SCRIPTS.jquery|external_script}}"
            crossorigin="anonymous">
        </script>
    </head>
    <body class="dark-mode">
        <div class="container-fluid p-0 main-container d-flex flex-column">
            <nav class="navbar navbar-expand-lg main-nav d-flex">
                <div class="d-flex align-items-stretch">
                    <a class="navbar-brand my-2" href="{% url "account:home" %}">
                        <img
                            src="{% static "img/svg/logo_00.svg" %}"
                            alt="Le logo du site"
                            height="50px"
                            width="auto"
                            class="ms-5 me-2">
                    </a>
                    <ul class="navbar-nav align-items-stretch">
                        <li class="d-flex align-items-center no-bar">
                            <a
                                href="{% url "account:home" %}"
                                class="h-100 d-flex align-items-center position-relative">
                                <p class="link-light fas fa-house link-nav-icon"></p>
                            </a>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                class="dropdown-toggle nav-link link-light link-nav h-100 d-flex align-items-center"
                                href="#"
                                id="navbarDropdown-bot"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                {% translate "my_bots" %}
                            </a>
                            <ul class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdown-bot">
                                <li>
                                    <a
                                        class="dropdown-item link-light dropdown-nav-item"
                                        href="{% url "game:my-bots" %}">
                                        {% translate "see_my_bots" %}
                                    </a>
                                </li>
                                <li>
                                    <a
                                    class="dropdown-item link-light dropdown-nav-item"
                                    href="{% url "game:create-bot" %}">
                                    {% translate "create_new_bot" %}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                class="dropdown-toggle nav-link link-light link-nav h-100 d-flex align-items-center"
                                href="#"
                                id="navbarDropdown-match"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                {% translate "matches" %}
                            </a>
                            <ul class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdown-match">
                                <li>
                                    <a
                                        class="dropdown-item link-light dropdown-nav-item"
                                        href="/bots">
                                        {% translate "see_my_matches" %}
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item link-light dropdown-nav-item"
                                        href="/bots-create">
                                        {% translate "look_for_match" %}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a
                                class="dropdown-toggle nav-link link-light link-nav h-100 d-flex align-items-center"
                                href="#"
                                id="navbarDropdown-community"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                {% translate "community" %}
                            </a>
                            <ul class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdown-community">
                                <li>
                                    <a
                                        class="dropdown-item link-light dropdown-nav-item"
                                        href="{% url "forum:forum-start" %}">
                                        {% translate "discussions" %}
                                    </a>
                                </li>
                                <li>
                                    <a
                                        class="dropdown-item link-light dropdown-nav-item"
                                        href="/bots-create">
                                        {% translate "ranking" %}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="d-flex align-items-stretch mx-1">
                    <button id="night-button" class="darklight fa-lg"></button>
                    {% load flag_templatetag %}
                    <form
                        action="{% if False %}{% url "set_language" %}{% else %}{% url "set-language" %}{% endif%}"
                        method="post"
                        class="ms-2 d-flex">
                        {% csrf_token %}
                        <input name="next" id="next" class="d-none" value="{{ request.path }}" hidden>
                        <select
                            class="form-select"
                            aria-label="Language selection"
                            id="language-select"
                            name="language">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option
                                    value="{{ language.code }}"
                                    {% if language.code == LANGUAGE_CODE %} selected{% endif %}
                                    class="option-capitalize">
                                    {{ language.name_local }} ({{ language.code }}) {{ language.code|flag }}
                                </option>
                            {% endfor %}
                        </select>
                        <input
                            type="submit"
                            value="{% translate "change" %}"
                            class="mx-1 btn small_button button-dark"
                            id="submit-language">
                    </form>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="d-flex auth-block ms-auto me-5 align-self-stretch">
                        <ul class="navbar-nav align-items-stretch">
                            <li class="nav-item dropdown align-items-stretch">
                                <a
                                    class="dropdown-toggle nav-link link-light link-nav h-100 d-flex align-items-center"
                                    href="#"
                                    id="navbarDropdown-account"
                                    role="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true"
                                    aria-expanded="false">
                                    {{request.user.email}}
                                </a>
                                <ul class="dropdown-menu dropdown-nav" aria-labelledby="navbarDropdown-account">
                                    <li>
                                        <a
                                            class="dropdown-item link-light dropdown-nav-item"
                                            href="{% url "account:account" %}">{% translate "my_account" %}
                                        </a>
                                    </li>
                                    <li>
                                        <a
                                            class="dropdown-item link-light dropdown-nav-item"
                                            href="{% url "logout" %}">{% translate "deconnect" %}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="d-flex auth-block ms-auto me-5">
                        <a
                            class="btn button button-dark link-nav me-2"
                            href="{% url "account:login" message="" %}">
                            {% translate "connect" %}
                        </a>
                        <a
                            class="btn button button-bright link-nav"
                            href="{% url "account:signup" %}">
                            {% translate "signup" %}
                        </a>
                    </div>
                {% endif %}
            </nav>

            {% block content %}
            {% endblock %}
            <div class="main-footer mt-auto">
                <div class="links-footer d-flex flex-column mt-4 ms-4 mb-4">
                    <a class="link-footer" href="/contact">{% translate "contact" %}</a>
                    <a class="link-footer" href="/faq">{% translate "faq" %}</a>
                    <a class="link-footer" href="/about">{% translate "about" %}</a>
                    <a class="link-footer" href="/legal">{% translate "terms_of_use" %}</a>
                </div>
                <div class="copyright-footer">
                    <p class="text-color-fore pb-1 text-center">
                        {% translate "copyright" %}
                    </p>
                </div>
            </div>
        </div>
        <div id="empty-space" class="empty-space d-none"></div>

        {% include "cookies/modal.html" %}
        <script src="{% static "js/base.js" %}"></script>
    </body>
</html>
