:root {
    --main-color: #0d0d28ff;
    --primary-light-color: rgb(38, 38, 87);
    --primary-light-hover-color: rgb(73, 73, 118);
    --back-color: #111111ff;
    --fore-color: #eeeeeeff;
    --bright-color: #00fea9ff;
    --bright-hover-color: #56ffc7ff;
    --alert-color: rgb(255, 98, 0);
}
