:root {
    --alert-color: rgb(255, 98, 0);
}

.dark-mode {
    --main-color: #161630ff;
    --primary-light-color: #262657ff;
    --primary-light-hover-color: #494976ff;
    --back-color: #111111ff;
    --dark-grey-color: #04406aff;
    --fore-color: #eeeeeeff;
    --fore-nochange-color: #eeeeeeff;
    --fore-inv-color: #111111ff;
    --fore-inv-nochange-color: #111111ff;
    --bright-color: #00fea9ff;
    --bright-hover-color: #56ffc7ff;
    --bright-alt-color: #fe00a9ff;
    --bright-alt-hover-color: #ff56c7ff;
    --blue-color: #007bffff;
    --grey-color: #888888ff;
    --light-grey-color: #c0c0c0ff;
    --black-color: #000000ff;
    --transparent-color: #00000000;
    --white-veil-5-color: #ffffff11;
    --white-veil-10-color: #ffffff19;
}

.light-mode {
    --main-color: #8888aaff;
    --primary-light-color: #262657ff;
    --primary-light-hover-color: #494976ff;
    --back-color: #ccccccff;
    --dark-grey-color: #04406aff;
    --fore-color: #111111ff;
    --fore-nochange-color: #eeeeeeff;
    --fore-inv-color: #eeeeeeff;
    --fore-inv-nochange-color: #111111ff;
    --bright-color: #00fea9ff;
    --bright-hover-color: #56ffc7ff;
    --bright-alt-color: #fe00a9ff;
    --bright-alt-hover-color: #ff56c7ff;
    --blue-color: #007bffff;
    --grey-color: #888888ff;
    --light-grey-color: #c0c0c0ff;
    --black-color: #000000ff;
    --transparent-color: #00000000;
    --white-veil-5-color: #ffffff11;
    --white-veil-10-color: #ffffff19;
}
