{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
{% endblock head_css_site %}

{% block content %}

{% comment %} {% if form.errors %}
    <p class="text-alert">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p class="text-alert">
            Your account doesn't have access to this page. To proceed,
            please login with an account that has access.
        </p>
    {% else %}
        <p class="text-alert">Please login to see this page.</p>
    {% endif %}
{% endif %} {% endcomment %}

<div class="h-100 d-flex align-items-center justify-content-center">

    <div class="form-login my-5 p-2 d-flex flex-column align-items-center justify-content-center w-50">

        <p class="fore-front title-login mt-1">{% translate "connect_existing_account" %}</p>

        <form method="post" action="{% url "login" message="" %}" class="w-75">
            {% csrf_token %}

            {% if form.non_field_errors %}
                <ul class="non-field-errors text-alert">
                    {% for err in form.non_field_errors %}
                        <li class="form-error">{{ err }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input-group mb-3">
                {{ form.username }}
            </div>

            <div class="input-group mb-3">
                {{ form.password }}
            </div>

            <div class="input-group mb-3">
                {{ form.security_key }}
            </div>

            <input type="submit" value="{% translate "connect" %}" class="w-100 mt-1 mb-3 button button-bright btn">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you set up the password_reset view in your URLconf #}
        <p><a href="{% url "password_reset" %}" class="link-light">{% translate "forgot_password" %}</a></p>
        <p><a href="{% url "signup" %}" class="link-light">{% translate "want_to_create_account" %}</a></p>

    </div>

</div>

{% endblock %}
