{% extends "base.html" %}

{% load static %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/login.css" %}">
{% endblock head_css_site %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}

<div class="h-100 d-flex align-items-center justify-content-center">

    <div class="form-login my-5 p-2 d-flex flex-column align-items-center justify-content-center w-50">

        <p class="fore-front title-login mt-1">Connexion à un compte existant</p>

        <form method="post" action="{% url "login" %}" class="w-75">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="input-group mb-3">
                {{ form.username }}
            </div>

            <div class="input-group mb-3">
                {{ form.password }}
            </div>

            <div class="input-group mb-3">
                {{ form.security_key }}
            </div>

            <input type="submit" value="Se connecter" class="w-100 mt-1 mb-3 button button-bright btn">
            <input type="hidden" name="next" value="{{ next }}">
        </form>

        {# Assumes you set up the password_reset view in your URLconf #}
        <p><a href="{% url "password_reset" %}" class="link-light">J'ai oublié mon mot de passe</a></p>
        <p><a href="{% url "signup" %}" class="link-light">Je veux créer mon compte</a></p>

    </div>

</div>

{% endblock %}
