{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
    <link rel="stylesheet" href="{% static "style/registration/signup.css" %}">
{% endblock head_css_site %}

{% block content %}

<div class="h-100 d-flex align-items-center justify-content-center">

    <div class="form-login my-5 p-2 d-flex flex-column align-items-center justify-content-center w-50">

        <p class="fore-front title-login mt-1">{% translate "create_account" %}</p>

        <form method="post" class="w-75">
            {% csrf_token %}

            {% if form.errors %}
                <ul class="non-field-errors text-alert">
                    {% for field in form %}
                        {% if field.errors %}
                            <li>
                                <ul>
                                    {% for error in field.errors %}
                                        <li>{{ error|escape }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul class="non-field-errors text-alert">
                    {% for error in form.non_field_errors %}
                        <li class="form-error">{{ error|escape }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <div class="input-group mb-3">
                {{ form.email }}
            </div>

            <div class="input-group mb-3">
                {{ form.password1 }}
            </div>

            <div class="text-light">
                {{ form.password1.help_text }}
            </div class="input-group mb-3">

            <div class="input-group mb-3">
                {{ form.password2 }}
            </div>

            <div class="input-group mb-3 d-flex align-items-center">
                {{ form.is_tou_accepted }}
                <span class="text-light ps-3">{{ form.is_tou_accepted.help_text }}</span>
            </div>

            <input type="submit"
             value="{% translate "create_my_account" %}"
             class="w-100 mt-1 mb-3 button button-bright btn">
        </form>
        <p>
            <a
                href="{% url "account:login" message="" %}"
                class="link-light">
                {% translate "already_have_account" %}
            </a>
        </p>
    </div>

</div>
{% endblock %}
